In [22]:
import pandas as pd
import datetime

In [23]:
df = pd.read_csv('base_1.csv', sep = ';',encoding='iso-8859-1')
df['DATA/HORA'] = pd.to_datetime(df['DATA/HORA'],dayfirst=True)
df = df[['DATA/HORA','ID_ALARME','ESTADO','SEVERIDADE','CÓDIGO','DESCRIÇÃO','LOCALIZAÇÃO']]
df['ID_ALARME'] = df['ID_ALARME'].astype(int)
df['ESTADO'] = df['ESTADO'].astype(bool)

IntCastingNaNError: Cannot convert non-finite values (NA or inf) to integer

In [18]:
df.head(5)

,DATA/HORA,ID_ALARME,ESTADO,SEVERIDADE,CÓDIGO,DESCRIÇÃO,LOCALIZAÇÃO
0,2021-10-30 15:03:18,1308.0,True,AV,AL0165,TRUQUE2 ISOLADO B25,CAB1_E
1,2021-10-30 15:04:37,1308.0,False,AV,AL0165,TRUQUE2 ISOLADO B25,CAB1_E
2,2021-11-03 22:50:30,3141.0,True,AV,AL0165,TRUQUE2 ISOLADO B25,Ux_CM_E
3,2021-11-03 22:50:30,3139.0,True,AV,AL0165,TRUQUE2 ISOLADO B25,Ux_CR2_E
4,2021-11-03 22:50:30,1308.0,True,AV,AL0165,TRUQUE2 ISOLADO B25,CAB1_E

In [17]:
df.dtypes

DATA/HORA      datetime64[ns]
ID_ALARME              object
ESTADO                   bool
SEVERIDADE             object
CÓDIGO                 object
DESCRIÇÃO              object
LOCALIZAÇÃO            object
dtype: object